<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.StudentMapper">
     <select id="getTotalCount" resultType="int">
         select count(id) from t_student where del=0
         <if test="name!=null and name!=''">
             and name like #{name}
         </if>
         <if test="classId!=0">
             and class_id=#{classId}
         </if>
     </select>

    <select id="getStudents" resultMap="StudentMap">
        select S.*,C.class_name from t_student S inner join t_class C on S.class_id=C.id where S.del=0
        <if test="name!=null and name!=''">
            and S.name like #{name}
        </if>
        <if test="classId!=0">
            and S.class_id=#{classId}
        </if>
        limit #{pageStart},#{pageSize}
    </select>
  <resultMap id="StudentMap" type="Student">
      <id column="id" property="id"></id>
      <result column="no" property="no"/>
      <result column="name" property="name"/>
      <result column="sex" property="sex"/>
      <result column="email" property="email"/>
      <result column="phone" property="phone"/>
      <result column="eduction" property="eduction"/>
      <result column="school" property="school"/>
      <result column="qq" property="qq"/>
      <result column="nickname" property="nickname"/>
      <association property="tClass" javaType="com.ssm.pojo.TClass">
          <result column="class_name" property="className"/>
      </association>
  </resultMap>
    <select id="getExcels" resultMap = "StudentMap">
        select S.*,C.class_name from t_student S inner join t_class C on S.class_id=C.id where S.del=0
        <if test="name!=null and name!=''">
            and S.name like #{name}
        </if>
        <if test="classId!=0">
            and S.class_id=#{classId}
        </if>

    </select>

    <!--<insert id="insertStudents">-->
        <!--insert into t_student values-->
        <!--<foreach collection="list" item="stu" separator=",">-->
            <!--(null,#{stu.no},#{stu.name},#{stu.sex},null,null,#{stu.school},null,#{stu.classId},#{stu.email},null,#{stu.phone},now(),null,0)-->
        <!--</foreach>-->
    <!--</insert>-->
    <insert id="inserStudents">
        insert into t_student values
        <foreach collection="list" item="stu" separator=",">
            (null,#{stu.no},#{stu.name},#{stu.sex},null,null,#{stu.school},null,#{stu.classId},1,#{stu.email},null,#{stu.phone},now(),null,0)
        </foreach>
    </insert>
    <!--学生新增-->
    <insert id="insertStudent">
        insert into t_student values (null,#{no},#{name},#{sex},#{birthday},#{cardno},#{school},#{education},#{classId},1,#{email},#{qq},#{phone},#{createdate},#{photo},0)
    </insert>
    <select id="getAllNo" resultType="String">
        select no from t_student
</select>
    <select id="getStudentTotal" resultType="int">
        select count(id) from t_student
    </select>
</mapper>